version: '3.8'

services:
  api:
    container_name: inventary_api
    build:
      context: ${PWD}
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - .:/code
    command: "python src/apps/inventary/api/start.py"
    ports:
      - ${API_PORT}:${API_PORT}
    depends_on:
      - mongo 

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017